.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orangered;
    color:white;
    padding: 0 1% 0 1%;
      
}
.div2{
    color:white;
   
}
